/*
Author : Ashik Chowdhury;

.form-wrapper .field-list .field .field-element {
    width: 100%;
    padding: 12px;
    margin: 6px 0 4px;
    border: none;
  border-bottom:1px solid #fff;
    background: hsla(0, 0%, 0%, 0.3);
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 0px;
      padding-left: 10px;
}
.form-wrapper .field-list input:focus, .form-wrapper .field-list textarea:focus {
    background: black !important;
}

@media screen and (min-width:950px) {.header-nav, .header-actions { display: none!important} .header-burger { display: flex!important;} .header--menu-open .header-menu {opacity: 1; visibility: visible; width: 25%; margin-left:75%} .header-menu .header-menu-nav a {font-size:1.5rem; padding: 1rem}}

.header-menu-nav-item a {
    position: relative;
    display: block;
    margin: 1vw 1vw;
    transition: opacity 250ms cubic-bezier(.4,0,.2,1);
}

a.sqs-block-button-element--small.sqs-block-button-element  {
    
    line-height: normal;
    padding: .9rem 3.503rem;
}



.sqs-block-button-element, .image-button a, .list-item-content__button {
  
   
    line-height: normal;
    padding: .9rem 1.503rem;
}

.design-layout-poster .image-card-wrapper {
background: inherit;
background-color: hsla(0, 0%, 0%, 0.4);
backdrop-filter: blur(10px);
height: 85%; width: 85%;
margin:auto!important; }

.design-layout-poster:hover .image-card-wrapper {
background: inherit;
background: transparent;
backdrop-filter: blur(0px);
height: 85%; width: 85%;
margin:auto!important;
transition:0.6s}

//  code for the text block//
@media screen and (max-width: 3000px) and (min-width: 721px){

  #block-yui_3_17_2_1_1629909474608_23058{
    
    border: 6px double #EEE0A2
  }
  #block-yui_3_17_2_1_1629909474608_14175{
    
    top:45px;
    background-color:#F7F5F2;
    z-index: 999;
    
  }
}

body:not(.button-style-default) .sqs-block-form .sqs-editable-button{
  
    line-height: normal;
    padding: .9rem 4.503rem;
}




.sqs-block-image .design-layout-stack .image-card {
    padding: 25px;
  padding-top:30px;
  padding-bottom:30px;
background:#fff;
-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
}
.sqs-block-image .design-layout-stack{
  
 
    background:transparent !important;
}


.white .sqs-block-image .design-layout-stack .sqs-image-content::after, .white .sqs-block-image .design-layout-stack .image-overlay {
    background-color: #ffffff !important;
}
.sqs-block-image .design-layout-stack .image-card-wrapper {
    margin-top: 0% !important;
}
section[data-section-id="5ec4241522926d18b07a7264"]{
  
  h4{
    
    font-size:20px;
  }
}

section[data-section-id="5ec4241522926d18b07a7264"]{
  
  
  .sqs-block-image .design-layout-stack .image-card{
    
    height:300px;
  }
  
}
  
 

section[data-section-id="6126937d1ee5ed144b495280"]{
  
  
  
  
  .sqs-block-image .design-layout-stack .image-card{
    
    height:250px;
  }
  
}

.gallery-strips[data-width="inset"] {
    max-width: 1200px;
    padding: 3vw;
    margin:0 auto;
}



section[data-section-id="5ec59c1c3819f75e3fddce32"]{
  display:none;
}



gallery-strips-item{
    position:relative;
  }
  .gallery-strips-item img{
    transition:all 0.5s ease;
    
  }
  .gallery-strips-item img:hover{
     filter: drop-shadow(2px 4px 6px gray);
            transform: scale(1.05); 
  }




.sqs-block-image .design-layout-overlap:not(.sqs-narrow-width) .image-card {
    width: 93%;
}
